
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .pi-1 {
        width: 180px;
        height: 180px
    }
</style>
<!-- content begin -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="products row">
                    <li class="col-xl-2 col-lg-6 col-md-12 product">
                        <div class="p-inner">
                            <div class="p-images">
                                <img src="~/Content/web/collebration/2.jpg" class="pi-1 img-responsive" alt="">
                            </div>
                        </div>
                    </li>

                    <li class="col-xl-2 col-lg-6 col-md-12 product">
                        <div class="p-inner">
                            <div class="p-images">
                                <img src="~/Content/web/collebration/3.jpg" class="pi-1 img-responsive" alt="">
                            </div>
                        </div>
                    </li>

                    <li class="col-xl-2 col-lg-6 col-md-12 product">
                        <div class="p-inner">
                            <div class="p-images">
                                <img src="~/Content/web/collebration/4.jpg" class="pi-1 img-responsive" alt="">
                            </div>
                        </div>
                    </li>

                    <li class="col-xl-2 col-lg-6 col-md-12 product">
                        <div class="p-inner">
                            <div class="p-images">
                                <img src="~/Content/web/collebration/5.jpg" class="pi-1 img-responsive" alt="">
                            </div>
                        </div>
                    </li>

                    <li class="col-xl-2 col-lg-6 col-md-12 product">
                        <div class="p-inner">
                            <div class="p-images">
                                <img src="~/Content/web/collebration/6.jpg" class="pi-1 img-responsive" alt="">
                            </div>
                        </div>
                    </li>

                    <li class="col-xl-2 col-lg-6 col-md-12 product">
                        <div class="p-inner">
                            <div class="p-images">
                                <img src="~/Content/web/collebration/7.jpg" class="pi-1 img-responsive" alt="">
                            </div>
                        </div>
                    </li>

                    <li class="col-xl-2 col-lg-6 col-md-12 product">
                        <div class="p-inner">
                            <div class="p-images">
                                <img src="~/Content/web/collebration/8.jpg" class="pi-1 img-responsive" alt="">
                            </div>
                        </div>
                    </li>
                    <li class="col-xl-2 col-lg-6 col-md-12 product">
                        <div class="p-inner">
                            <div class="p-images">
                                <img src="~/Content/web/collebration/9.jpg" class="pi-1 img-responsive" alt="">
                            </div>
                        </div>
                    </li>

                    <li class="col-xl-2 col-lg-6 col-md-12 product">
                        <div class="p-inner">
                            <div class="p-images">
                                <img src="~/Content/web/collebration/10.jpg" class="pi-1 img-responsive" alt="">
                            </div>
                        </div>
                    </li>

                    <li class="col-xl-2 col-lg-6 col-md-12 product">
                        <div class="p-inner">
                            <div class="p-images">
                                <img src="~/Content/web/collebration/11.jpg" class="pi-1 img-responsive" alt="">
                            </div>
                        </div>
                    </li>

                    <li class="col-xl-2 col-lg-6 col-md-12 product">
                        <div class="p-inner">
                            <div class="p-images">
                                <img src="~/Content/web/collebration/13.jpg" class="pi-1 img-responsive" alt="">
                            </div>
                        </div>
                    </li>

                    <li class="col-xl-2 col-lg-6 col-md-12 product">
                        <div class="p-inner">
                            <div class="p-images">
                                <img src="~/Content/web/collebration/14.jpg" class="pi-1 img-responsive" alt="">
                            </div>
                        </div>
                    </li>

                    <li class="col-xl-2 col-lg-6 col-md-12 product">
                        <div class="p-inner">
                            <div class="p-images">
                                <img src="~/Content/web/collebration/15.jpg" class="pi-1 img-responsive" alt="">
                            </div>
                        </div>
                    </li>
                    <li class="col-xl-2 col-lg-6 col-md-12 product">
                        <div class="p-inner">
                            <div class="p-images">
                                <img src="~/Content/web/collebration/16.jpg" class="pi-1 img-responsive" alt="">
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>