@model IList<AnnualReportEntity>
@{
    ViewBag.Title = "Annual Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section id="section-about" data-bgcolor="#853f40">
    <div class="container">
        <div class="row">
            <div class="row align-items-center">
                <div class="col-md-7 offset-md-3 text-center wow fadeInUp">
                    <h2 class="heading-with-underline">Annual &nbsp;Reports </h2>

                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-12 container-4 wow fadeInUp">
                    <div class="row">
                        @foreach (var item in Model.OrderByDescending(a => a.YearofDocument))
                        {
                            
                            <div class="col-lg-3 col-md-4">
                                <div class="book">
                                    <a href="@item.DocumentLink" target="_blank">
                                        <img src="@GetFileAddress.AnnualReport/@item.FilePath" alt="Book 1" class="img-responsive" />
                                    </a>
                                    <h4>@item.Title</h4>
                                   
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>