
@{
    ViewBag.Title = "boardhistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="section-about" data-bgcolor="#853f40">
    <div class="container">
        <div class="row">
            <div class="row align-items-center">
                <div class="col-md-7 offset-md-3 text-center wow fadeInUp">
                    <h2 class="heading-with-underline">Our &nbsp;Founder </h2>
                    @*<div class="separator"><span><i class="fa fa-square"></i></span></div>
                    <div class="spacer-single"></div>*@
                </div>
                <div class="col-md-4 text-middle wow fadeInLeftBig">
                    <img src="~/Content/web/images/founder.jpg" class="img-responsive" alt="" style="margin-top: -10px;">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-7 wow fadeInRightBig text-middle">
                    <p class="lead" style="font-size:40px;">

                        Major General Raghubir Singh Pannu

                    </p>
                    <p class="lead">
                        After an illustrious Army career General Raghu Pannu  took over as the Director General of Helpage India. .Under his dynamic leadership he took the little known fledgling NGO, and put it  on the map as Indias leading charity and soon age care became synonymous with Helpage India.
                    </p>
                    <p class="lead">
                        General Pannu's dedication to the cause and stellar performance won him much acclaim.
                    </p>
                </div>
                <div class="col-lg-12">
                    <p class="lead">
                        He served on the Governing Boards of the World Fundraising Council and CASP, was the Founder Chairman of  SAARC ,Trustee of Child Fund India , Patron of Rehablitation India and Treasurer General and Vice president of the International federation of Aging in Canada    He was also on the Advisory Board of  leading International charities such as Help the Aged UK, Helpage International , Global Cancer Concern UK,
                   
                        British Executive Services Overseas and the Prince of Wales Business Leaders Forum UK
                        In recognition of his achievements the DISTINGUISHED LEADERSHIP AWARD was conferred upon him by the American Biographical institute. He was also the receipient of IFA's PRESIDENTS AWARD  for the most outstanding contribution worldwide in the field of Age care in 2000.
                        Gen Pannu was honoured with the KARAMVEER PURUSKAR by the Indian Confederation Of NGOs , posthumously .

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="section-about" data-bgcolor="#853f40">
    <div class="container">
        <div class="row">
            <div class="row align-items-center">
                <div class="col-md-7 offset-md-3 text-center wow fadeInUp">
                    <h2 class="heading-with-underline">Our &nbsp;Patron </h2>
                    @*<div class="separator"><span><i class="fa fa-square"></i></span></div>
                    <div class="spacer-single"></div>*@
                </div>
                <div class="col-md-4 text-middle wow fadeInLeftBig">
                    <img src="~/Content/web/images/board/patron.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-7 wow fadeInRightBig text-left">
                    <p class="lead" style="font-size:50px">
                        Mrs Inderjit Pannu
                    </p>
                    <p class="lead">
                        After his untimely demise on october 9 ,2003, GCCI invited Mrs Inderjit Pannu to step into the shoes of the late General. Having been actively involved with the Army Wives welfare Association for over 25 years and been of the Board of Trustees  , she was the unanamous choice for the post of President and Managing Trustee.. She has been at the helm of GCCI since 2003 and the organisation has surged ahead under her able guidance.. 

                    </p>

                </div>
                <div class="col-lg-12">
                    <p class="lead">
                        Her perseverance and tenacity ensured that the NGO remained sustainable and her inspirational skillls and farsightedness achieved milestones for GCCI.
                    </p>
                    <p class="lead">
                        Her landmark achievement was obtaining 100%Tax -
                        exemption for Donors on all donations to GCCI .In the last 20 years Mrs Inderjit Pannu has worked relentlessly to carry forth the vision and GCCI has gone from strenghth to strength .

                    </p>
                    <p class="lead">
                        Mrs Inderjit Pannu has now handed over the baton to Mrs Mona Singh and retired from active management to step into the role of a Godparent .
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-7 offset-md-3 text-center wow fadeInUp">
                        <h2 class="heading-with-underline">Current Board of Trustees <br />Global Cancer Concern India </h2>
                        @*<div class="separator"><span><i class="fa fa-square"></i></span></div>
                        <div class="spacer-single"></div>*@
                    </div>
                    <div class="col-md-12 text-center wow fadeInUpBig">
                        <img src="~/Content/web/images/boardpyramid.jpeg" class="img-responsive effect3D mx-auto" alt="">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
