
@{
    ViewBag.Title = "career";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breatcome_area d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breatcome_title">
                    <div class="breatcome_title_inner pb-2">
                        <h2>Career</h2>
                    </div>
                    <div class="breatcome_content">
                        <ul>
                            <li><a href="/">Home</a> <i class="fa fa-angle-right"></i> <a href="#"> Career</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pricing_area pt-80 pb-70" id="pricing">
    <div class="container">
        <div class="row">
            <!-- Start Section Tile -->
            <div class="col-lg-12">
                <div class="section_title text_center mb-50 mt-3">
                    <div class="section_main_title">
                        <h1>Why to choose <span>Cube Click ?</span></h1>
                    </div>
                    <div class="em_bar">
                        <div class="em_bar_bg"></div>
                    </div>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!-- Single Pricing -->
                <div class="single_pricing_three mb-4">
                    <div class="single_pricing_content_three">
                        <div class="single_pricing_content_inner">
                            <div class="pricing_head_three">
                                <div class="pricing_title_three white">
                                    <h3>Professional Development</h3>
                                </div>
                                @*<div class="pricing_tk_three pt-3 pb-4">
                                    <h2><span class="curencyp">$</span> 49 <span>Month</span></h2>
                                </div>*@
                            </div>
                            <div class="pricing_thumb">
                                <img src="assets/images/new/pricing-icon.png" alt="" />
                            </div>
                            <div class="pricing_body_three pb-4">
                                <div class="featur" style="padding:20px;">
                                    <ul>
                                        At our company, we are committed to fostering an
                                        environment that promotes both client and employee growth.</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="pricing_button_three pb-5">
                                <div class="order_now">
                                    <a href="/professional">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!-- Single Pricing -->
                <div class="single_pricing_three mb-4">
                    <div class="single_pricing_content_three">
                        <div class="single_pricing_content_inner">
                            <div class="pricing_head_three">
                                <div class="pricing_title_three white">
                                    <h3>Benefits</h3>
                                </div>
                                @*<div class="pricing_tk_three pt-3 pb-4">
                                    <h2><span class="curencyp">$</span> 79 <span>Month</span></h2>
                                </div>*@
                            </div>
                            <div class="pricing_thumb">
                                <img src="assets/images/new/pricing-icon.png" alt="" />
                            </div>
                            <div class="pricing_body_three pb-4">
                                <div class="featur" style="padding:20px;">
                                    <ul>
                                        <li>We use cutting-edge technology and forward-thinking strategies to deliver
                                        innovative solutions that drive business growth and innovation.</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="pricing_button_three pb-5">
                                <div class="order_now">
                                    <a href="/benefits">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!-- Single Pricing -->
                <div class="single_pricing_three mb-4">
                    <div class="single_pricing_content_three">
                        <div class="single_pricing_content_inner">
                            <div class="pricing_head_three">
                                <div class="pricing_title_three white">
                                    <h3>Innovation</h3>
                                </div>
                                @*<div class="pricing_tk_three pt-3 pb-4">
                                    <h2><span class="curencyp">$</span> 99 <span>Month</span></h2>
                                </div>*@
                            </div>
                            <div class="pricing_thumb">
                                <img src="assets/images/new/pricing-icon.png" alt="" />
                            </div>
                            <div class="pricing_body_three pb-4">
                                <div class="featur" style="padding:20px;">
                                    <ul>
                                        <li>
                                            We value creativity and encourage our employees to think outside the box. Our team
                                            members are encouraged to come up with new ideas and solutions that challenge
                                            the status quo.
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="pricing_button_three pb-5">
                                <div class="order_now">
                                    <a href="/innovation">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>