
@{
    ViewBag.Title = "Donations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="section-about" data-bgcolor="#853f40">
    <div class="container">
        <div class="row">
            <div class="row align-items-center">
                <div class="col-md-7 offset-md-3 text-center wow fadeInUp">
                    <h2 class="heading-with-underline">Donations </h2>
                    
                </div>
                <div class="col-md-12 text-center wow fadeInUpBig">
                    <img src="~/Content/web/images/donationquote.png" class="img-responsive  mx-auto" alt="">
                </div>
                <div class="col-md-12 text-center mt-4">
                    <a href="home/payment" class="btn btn-primary btn-lg">Donate Now</a> 
                </div>
            </div>
        </div>
    </div>
</section>
