
@{
    ViewBag.Title = "founder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- subheader -->
<section id="subheader" data-speed="8" data-type="background" style="background-image: url(../../Content/web/assets/images/background/subheader-3.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Our Founder</h1>
                <ul class="crumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="sep">/</li>
                    <li>Our Founder</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<br />
<!-- subheader close -->

<!-- content begin -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row p-single">
                    <div class="col-md-5">
                        <div class="p-carousel owl-carousel owl-theme">
                            <img src="~/Content/web/assets/images/shop/1a.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="p-desc">
                            <h5>Our Founder </h5>
                            <h3>The Man Himself - Major General Raghubir Singh Pannu </h3>

                            <br />
                            @*<div class="p-rating">
            <i class="fa fa-star checked"></i>
            <i class="fa fa-star checked"></i>
            <i class="fa fa-star checked"></i>
            <i class="fa fa-star checked"></i>
            <i class="fa fa-star"></i>
        </div>
        <div class="price">$420</div>*@
                            <p style="text-align:justify">
                                After his untimely demise on october 9 ,2003, GCCI invited Mrs Inderjit Pannu to step into the shoes of the late General. Having been actively involved with the Army Wives welfare Association for over 25 years and been of the Board of Trustees , she was the Board s unanamous choice for the post of President and Managing Trustee.. She has been at the helm of GCCI since 2003 and the organisation has surged ahead under her able guidance.and her perseverance and tenacity ensured that the NGO remained sustainable.. Her inspirational skillls and farsightedness achieved milestones for GCCI.
                                <br /><br />After his untimely demise on october 9 ,2003, GCCI invited Mrs Inderjit Pannu to step into the shoes of the late General. Having been actively involved with the Army Wives welfare Association for over 25 years and been of the Board of Trustees , she was the Board s unanamous choice for the post of President and Managing Trustee.. She has been at the helm of GCCI since 2003 and the organisation has surged ahead under her able guidance.and her perseverance and tenacity ensured that the NGO remained sustainable.. Her inspirational skillls and farsightedness achieved milestones for GCCI.
                            </p>
                            <h6 class="text-light  mb10" style="text-align:justify">"As a soldier you come so close to pain and death that you reallize the superficialllity of materialism.and thats when you understand the real essence of life. The best way of living life I feel is by bringing joy in others lives and trying to alleviate their sorrows"</h6>
                        </div>
                    </div>

                    <div class="spacer-double"></div>

                    <div class="col-md-12" style="text-align:justify">
                        <div class="tab-default">
                            @*<nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Description</button>
                                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Additional Information</button>
                                </div>
                            </nav>

                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"><p>Consequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. Fugiat velit proident aliquip nisi incididunt nostrud exercitation proident est nisi. Irure magna elit commodo anim ex veniam culpa eiusmod id nostrud sit cupidatat in veniam ad. Eiusmod consequat eu adipisicing minim anim aliquip cupidatat culpa excepteur quis. Occaecat sit eu exercitation irure Lorem incididunt nostrud.</p></div>
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"><p>Ad pariatur nostrud pariatur exercitation ipsum ipsum culpa mollit commodo mollit ex. Aute sunt incididunt amet commodo est sint nisi deserunt pariatur do. Aliquip ex eiusmod voluptate exercitation cillum id incididunt elit sunt. Qui minim sit magna Lorem id et dolore velit Lorem amet exercitation duis deserunt. Anim id labore elit adipisicing ut in id occaecat pariatur ut ullamco ea tempor duis.</p></div>
                            </div>*@
                            <p>
                                In 1985,after retirement he took over as the Director of Helpage India. .Under his dynamic leadership he took the little known fledgling NGO, and put it  on the map as Indias leading charity in the field of age care. . Protecting the rights of the elderly and aging was put up on the agenda by the Goverment for social action and soon age care became synonymous with Helpage India..It was a significant achievement,made possible by the vision and perseverance of one man.
                                <br />
                                General Pannus dedication to the cause and stelllar performance in the volunteer sector won him much acclain..He served on the Governing Boards of the world Fundraising Council (usa)and of Community Aid sponsership program(CASP), Was the Founder Chairman and Trustee of the South Asian Fund Raising Group (SAARC) and Trustee of Child Fund India. as also also patron of Rehablitation India.He was also on the Advisory Board of a number of leading International charities such as Help the Aged UK, Helpage International , Global Cancer Concern UK, British Executive Services Overseas and the Prince of Wales Business Leaders Forum UK
                                <br /> He was Treasurer General and Vice president of the International federation of Aging in Canada And was the receipient of its PRESIDENTS AWARD  for the most outstanding contribution worldwide in the field of Age care in 2000.
                                <br />In recognition of his achievements the DISTINGUISHED LEADERSHIP AWARD was conferred upon him for outstanding contribution to contemporary society by the American Biographical institute.
                                <br />Gen Pannu was honoured with the KARAMVEER PURUSKAR by the Indian Confederation Of NGO s (iCONGO). the award was conferred on him posthumously and recieved by Mrs Pannu.

                                <br />“Old Soldiers never die, they fade away- this soldier neither died nor faded away as he will always live on through his legacy.”~ Lt Gen PPS Bhandari, PVSM, AVSM

                                <br />As a special invitee to the UN general assembly of aging , he happened to interact with delegates from The Macmillan Rung UK and WHO ....In his own words...
                                <br />"I had no idea that cancer was such a painful and horrific desease. I thought cancer just bought death a little closer but then everyone has to eventually die."
                                <br /> Looking at the statistics , he realized that cancer was predicted to become the most dreaded killer desease of modern times. he decided it was time to wear a new hat . Helpage was on its feet and leaving it in capable hands, he bid it goodbye.
                                <br /> On the invitation from Global Cancer Concern UK, Global Cancer Concern India ,a non profit, secular and highly committed apex level NGO was founded by General Pannu on March 6,1998 as a Charitable Trust. Shri R Venkataraman , former President of India kindly consented to become the Patron in Chief.
                                <br />As a registered organisation it fast emerged as an apex organisation for management of cancer ,complementing the national efforts.
                                <br />" while it is in the hands of God to cure , it is certainly in the hands of man to care''
                                'Together let us take their pain away" became the mantra of GCCI
                            </p>

                        </div>
                    </div>
                </div>
            </div>
</div>
</div>
</div>