@{
    ViewBag.Title = "Global Cancer Concern India (GCCI) is a registered NGO which occupies a prominent place in the vanguard of cancer care NGOs in the country and has been working assiduously for the last 18 years for the well being of the disadvantaged people afflicted with cancer.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="content" class="no-bottom no-top">
    <section id="section-hero" class="no-top no-bottom full-height text-white jarallax" aria-label="section">
        <video autoplay loop muted playsinline id="video" style="height:auto" preload="metadata">
            <source src="~/Content/web/assets/Video/V2.mp4" type="video/mp4" />
            <source src="~/Content/web/assets/Video/V2.webm" type="video/webm" />
            Your browser does not support the video element.
        </video>
        @*<audio id="audio" loop>
                <source src="~/Content/web/piano-moment-9835.mp3" type="audio/mpeg" />
                Your browser does not support the audio element.
            </audio>*@
    </section>

    <section id="section-about" data-bgcolor="#853f40">
        <div class="container">
            <div class="row">
                <div class="row align-items-center">
                    <div class="col-md-7 offset-md-3 text-center wow fadeInUpBig">
                        <h2 class="heading-with-underline">OUR &nbsp;STORY</h2>
                    </div>

                    <div class="col-md-12 text-center">
                        <img src="~/Content/web/images/gcciourstory.png" class="img-responsive effect3D our-story" alt="">
                    </div>
                    <div class="col-md-12 wow fadeInLeftBig text-middle text-justify margin-top-30px">
                        <p class="lead text-justify">
                            On the invitation from Global Cancer Concern UK, Global Cancer Concern India, a non-profit, secular, and highly committed apex-level NGO, was founded by General Pannu on March 6, 1998, as a Charitable Trust. Shri R Venkataraman, former President of India, kindly consented to become the Patron in Chief.
                        </p>
                    </div>
                    <div class="col-lg-12" style="background-size: cover;">
                        <p class="lead our-story-custom-font-size" style="font-family:pacifico;">
                            " Together let us take their pain away"
                        </p>
                        <p class="lead">became the mantra of GCCI</p>


                        <p class="lead">
                            The main objective of GCCI was to set up palliative care services for the terminally ill cancer patients. Today, Global Cancer Concern India (GCCI) occupies a prominent place in the country's vanguard of cancer care NGOs. It has been working assiduously for the last 25 years for the care of the disadvantaged section of society. Our activities address key issues that we believe make a difference to the effectiveness and efficiency of cancer care management and complement the national efforts.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="section-about" data-bgcolor="#853f40" @*#853f40*@>
        <div class="container">
            <div class="row">
                <div class="row align-items-center">
                    <div class="col-md-8 offset-md-2 text-center wow fadeInUpBig">
                        <h2 class="heading-with-underline">A &nbsp;BOLD &nbsp;VISION &nbsp;AND &nbsp;MISSION</h2>

                    </div>
                    <div class="col-md-6 text-middle wow fadeInLeftBig">
                        <img src="~/Content/web/images/Cancer-Caregiver-min.jpg" class="img-responsive effect3D full-width-with-margin-top" alt="">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 wow fadeInRightBig text-middle margin-top-50px ">
                        <p class="lead">
                            THE AIMS AND OBJECTIVES OF THE TRUST COVER THE ENTIRE SPECTRUM OF CANCER CARE, FROM PREVENTIVE TO PALLIATIVE, DIAGNOSTIC, TREATMENT, REHABILITATION, AND SUPPORTIVE.
                        </p>

                    </div>
                    <div class="col-md-12 wow fadeInLeftBig text-middle text-justify">
                        <p class="lead" style="font-family: pacifico; font-size: 40px; font-weight:300">
                            To combat cancer at all stages by seeking prevention, early detection, and recognizing palliative care management so that cancer sufferers can live quality lives with dignity and self-esteem as long as possible.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    @*<section id="section-about" class="section-with-background" data-bgcolor="#853f40">
            <div class="container">
                <div class="row">
                    <div class="row align-items-center">
                        <div class="col-md-8 offset-md-2 text-center wow fadeInUp">
                            <h2 class="heading-with-underline">THE &nbsp;HARSH &nbsp;REALITY</h2>

                        </div>
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-4 text-middle wow fadeInLeftBig">
                                    <img src="~/Content/web/images/harshlatest.jpeg" class="img-responsive effect3D" alt="">
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-7 wow fadeInRightBig text-middle ">
                                    <p class="lead">
                                        The developing countries have 5% of the world’s resources for cancer treatment, prevention, care & research – while these countries are home to two-thirds of the world’s cancer patients. Of even greater concern is the fact that 70% of the patients are only diagnosed at the terminal stage since awareness is abysmally low and most people are unaware that 50% of the cancers are curable if detected early.

                                    </p>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 wow fadeInRight margin-top-with-30px">
                                    <p class="lead">
                                        The global cancer burden is expected to be 28.4 million cases in 2040, a 47% rise from 2020, with a larger increase in transitioning (64% to 95%) versus transitioned (32% to 56%) countries due to demographic changes. This may be further exacerbated by increasing risk factors associated with globalization and a growing economy.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </section>*@


    <section id="section-about" data-bgcolor="#853f40">
        <div class="container">
            <div class="row">
                <div class="row align-items-center">
                    <div class="col-md-8 offset-md-2 text-center wow fadeInUp">
                        <h2 class="heading-with-underline">THE &nbsp;HARSH &nbsp;REALITY</h2>

                    </div>
                    <div class="col-md-4 text-middle wow fadeInRightBig ">
                        <img src="~/Content/web/images/harshlatest.png" class="img-responsive" alt="" style="margin-bottom:7%;max-width:102%">
                    </div>
                    <div class="col-md-8 wow fadeInLeftBig text-middle">
                        <p class="lead">
                            The developing countries have 5% of the world’s resources for cancer treatment, prevention, care & research – while these countries are home to two-thirds of the world’s cancer patients. Of even greater concern is the fact that 70% of the patients are only diagnosed at the terminal stage since awareness is abysmally low and most people are unaware that 50% of the cancers are curable if detected early. The global cancer burden is expected to be 28.4 million cases in 2040 a 47% rise from 2020, with a larger increase in transitioning (64% to 95%) versus transitioned (32% to 56%) countries due to demographic changes.
                        </p>
                    </div>
                    <div class="col-lg-12">
                        <p class="lead"> This may be further exacerbated by increasing risk factors associated with globalization and a growing economy.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="section-about" data-bgcolor="#853f40" class="custom-padding-20">
        <div class="container">
            <div class="row">
                <div class="row align-items-center">
                    <div class="col-md-8 offset-md-2 text-center wow fadeInUp">
                        <h2 class="heading-with-underline">FROM &nbsp;AWARNESS &nbsp;TO &nbsp;ACTION</h2>

                    </div>
                    @*<div class="col-md-5 text-middle wow fadeInLeft">
                            <img src="~/Content/web/images/Cancer-Caregiver-min.jpg" class="img-responsive effect3D" alt="">
                        </div>*@
                    <div class="col-md-1"></div>
                    <div class="col-md-12 wow fadeInRightBig text-middle">
                        <p class="lead">
                            GCCI embarked on a mission to combat cancer at all stages through a four-pronged agenda by creating a CIRCLE between the patient, the doctor, and the family members, by seeking PREVENTION, creating AWARENESS, building a SUPPORT SYSTEM, and finally providing a FINANCIAL SAFETY NET.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="section-about" data-bgcolor="#853f40">
        <div class="container">
            <div class="row">
                <div class="row align-items-center">
                    <div class="col-md-5 wow fadeInLeftBig text-middle">
                        <p class="lead">
                            Cancer is the byproduct of two sources: genetics or lifestyle choices. Preventive healthcare to the needy and marginalized segment of society is given so as to prevent loss of life as also considerable loss of the potentially productive years of life. Camps are organized at Urban Slums, Schools, Corporates, and RWAs to spread awareness on the causes of cancer and how to prevent it by opting for a moderate and healthy lifestyle and regular checkups.
                        </p>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-6 text-middle wow fadeInRightBig custom-image margin-top-minus-70px margin-top-minus-30px">
                        <img src="~/Content/web/images/awareness.jpg" class="img-responsive effect3D image-height-655px" alt="">
                    </div>
                    <div class="col-md-12 wow fadeInLeftBig text-middle">
                        <p class="lead">
                            Innovative methodologies such as role play, case studies, and visual presentations are used to facilitate ease of learning.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section-about" data-bgcolor="#853f40">
        <div class="container">
            <div class="row">
                <div class="row align-items-center">
                    @*<div class="col-md-6 offset-md-3 text-center wow fadeInUpBig">
                            <h3>Prevention Today for a Healthier Tomorrow</h3>
                            <div class="separator"><span><i class="fa fa-square"></i></span></div>
                            <div class="spacer-single"></div>
                        </div>*@
                    <div class="col-md-6 text-middle wow fadeInLeftBig" style="margin-top: -26px">
                        <img src="~/Content/web/images/Screening.jpeg" class="img-responsive effect3D" alt="">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 wow fadeInRightBig text-middle">
                        <p class="lead">
                            Through cancer screening camps, GCCI has acted as a catalyst to aid early detection and facilitate a positive treatment. Each team of doctors and nurses carries out non-invasive screening investigations that are effective enough to detect symptoms leading to an early diagnosis of cancer. Free pathological lab facilities are extended, and medicines are distributed free of cost.
                        </p>

                    </div>
                    <div class="col-md-12 wow fadeInLeftBig text-middle">
                        <p class="lead">

                            Beneficiaries are informed about results of screening and diagnosis and counseled about the future line of treatment.

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="section-about" data-bgcolor="#853f40">
        <div class="container">
            <div class="row">
                <div class="row align-items-center">
                    <div class="col-md-5 wow fadeInLeftBig text-middle">
                        <p class="lead">
                            Cancer thrusts heavy expenses on both the patient and their family. Most families do not have medical insurances and get completely exhausted – physically, mentally, and financially while going through the long and painful treatment procedure. The aim of GCCI’s Financial Assistance Programme is to lessen this burden.

                        </p>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-6 text-middle wow fadeInRightBig">
                        <img src="~/Content/web/images/financialAssistance.jpg" class="img-responsive effect3D" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section-about" data-bgcolor="#853f40">
        <div class="container">
            <div class="row">
                <div class="row align-items-center">
                    <div class="col-md-5 text-middle wow fadeInLeftBig">
                        <img src="~/Content/web/images/palliativecarepic.jpeg" class="img-responsive effect3D" alt="">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-6 wow fadeInRightBig text-middle">
                        <p class="lead">
                            GCCI’s Palliative Care Programme for cancer patients is inspired by the plight of the terminally ill patient. Palliative care addresses the emotional, physical, practical, and spiritual issues of the patient once the disease is beyond the realm of active treatment.
                        </p>

                    </div>
                    <div class="col-md-12 wow fadeInLeftBig text-middle text-justify" style="margin-top:10px">
                        <p class="lead">
                            GCCI has been providing home-based palliative care since 2006. A team comprising a doctor, nurse, and counselor visits the patients at their homes to provide pain relief, medication, and counseling, including training for caregivers to better handle patients. Palliative treatment, which is not curative, still gives moral support to the patient and extends life for a notable period of time. It restores the quality of life and aims at giving the patient a relatively painless and dignified passing.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section-about" data-bgcolor="#853f40">
        <div class="container">
            <div class="row">
                <div class="row align-items-center">
                    <div class="col-md-6 wow fadeInLeftBig text-middle">
                        <p class="lead">
                            The Child Education Sponsorship programme helps needy children from cancer-stricken families to continue and complete their school education.
                            Through vocational rehabilitation programs, cancer patients and their dependents are integrated back into the mainstream of life by making them self-sufficient.
                        </p>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 text-middle wow fadeInRightBig">
                        <img src="~/Content/web/images/rehabilation.jpeg" class="img-responsive effect3D" alt="" style=" margin-top: -33px;">
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="section-timeline" data-bgcolor="#853f40">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="heading-with-underline"><span class="responsive-font-size">25</span> YEARS<br />  A&nbsp; JOURNEY&nbsp; OF&nbsp; INNOVATIVE&nbsp; VENTURES.</h2>

                </div>
                <div class="col-md-11 offset-md-1">
                    <div class="timeline exp">
                        <div class="tl-block wow fadeInUp" data-wow-delay="0">
                            <div class="tl-time blink-1">
                                <h4>1997</h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="text-white">
                                        Palliative Care Training Program
                                    </h4>
                                    <p>A collaborated project, the "Palliative Care Training Program," with the Pain & Palliative Care Society, Calicut in Kerala, aimed to train doctors and nurses from West and South India. This initiative was financially supported by GCCI to the tune of Rs 40 lakhs. The first course was conducted in 1997, and it was declared a WHO Role Model project.</p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".3s">
                            <div class="tl-time blink-1">
                                <h4>1997</h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color margin-top-16px">
                                        Palliative Care Sensitization Program
                                    </h4>
                                    <p>A joint program with PGI Chandigarh, the "Palliative Care Sensitization Program," was organized for doctors and nurses in April 1997.</p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".6s">
                            <div class="tl-time blink-1">
                                <h4>1998</h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color">
                                        Dharamshila Cancer Hospital at Noida
                                    </h4>
                                    <p> A joint program for training Nursing Aides for outreach care of terminally ill cancer patients was launched on 1 November 1998 by GCCI in collaboration with Dharamshila Cancer Hospital at Noida.</p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>1999</h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color margin-top-with-16px">
                                        Cancer Awareness Programs
                                    </h4>
                                    <p>GCCI started conducting Cancer Awareness Programs in Schools, slums  and Resident Welfare Associations in 1999.</p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2000</h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color margin-top-negative-5">
                                        Cancer Detection Camps
                                    </h4>
                                    <p>For early detection of Cancer, GCCI started holding Cancer Detection Camps in 2000.</p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2000</h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color margin-top-with-20px">
                                        Gujarat Research & Medical Institute, Ahmedabad
                                    </h4>
                                    <p>A unique project of Training Relatives and Care Givers was implemented in collaboration with Gujrat Research & Medical Institute, Ahmedabad in 2000. </p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2001</h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color margin-top-negative-5">
                                        MTNL
                                    </h4>
                                    <p>
                                        In close concert with MTNL, GCCI started its Help Line Service in 2001
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2001</h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color">
                                        Maharogi Sewa Samiti, Wadodra
                                    </h4>
                                    <p>Financial support was given for a joint project ‘Hospice &Mobile Diagnostic Clinic’ with Baba Amte’s organization Maharogi Sewa Samiti, Wadodra in Maharashtra in 2001</p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2001 </h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color">
                                        GCCI & Confederation of Indian Industry (CII)
                                    </h4>
                                    <p>A major Conference on Cancer Awareness was organized by GCCI & Confederation of Indian Industry (CII) in 2001 which was inaugurated by Sh. A Raja, Minister of State for Health and Family Affairs.</p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2001 </h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color">
                                        WHO
                                    </h4>
                                    <p> In view of the acute shortage of trained professionals, in the year 2001, a batch of paramedical staff from various local and outstation hospitals was trained in collaboration with WHO. Dr Jerry Leowski, the then Regional Adviser, Non-Communicable Diseases, inaugurated the Training Program</p>
                                </div>
                            </div>
                        </div>


                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2002 </h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color margin-top-negative-5">
                                        Child Sponsorship and Vocational Training
                                    </h4>
                                    <p> GCCI added Child Sponsorship and Vocational Training to its Program spectrum in 2002.</p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2003 </h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color">
                                        PGI Chandigarh
                                    </h4>
                                    <p style="margin-bottom:30px"> A research study on “Setting up a Palliative Care Clinic within a Radiotherapy Department: a model for developing countries” done by PGI Chandigarh was supported through a grant by GCCI in 2003</p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2000-2004  </h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color">
                                        GCCI established partnership with the following Institutions during the period 2000-2004 to provide various cancer care services
                                    </h4>
                                    <p>
                                        <ul>
                                            <li>Orange City Hospital and Research Institute, Nagpur, Maharashtra-Palliative Care</li>
                                            <li>Gujarat Research and Medical Institute, Ahmedabad, Gujrat- Training of Care givers</li>
                                            <li>Jawaharlal Lal Nehru Cancer Hospital, Bhopal, MP-Home care</li>
                                            <li>Khail Shankar Durlabhji Avedna Ashram, Jaipur, Rajasthan-Palliative Care</li>
                                            <li>Guru Ram Dass Hospital, Amritsar, Palliative care</li>
                                            <li>Bharth Charitable Cancer Hospital & Institute, Mysore, Diagnostic Clinic</li>
                                            <li>Bangalore Hospice Trust, Bangalore, Karnataka – Palliative Care</li>
                                            <li>Rajkot Cancer Society, Rajasthan-Cancer Screening Camps</li>
                                            <li>Adyar Cancer Hospital, Chennai, Tamil Nadu -Cancer Screening</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2004</h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color">
                                        Global Cancer Concern, UK
                                    </h4>
                                    <p>In January, 2004, GCCI collaborated with Global Cancer Concern, UK to organize an Auto Rally in Rajasthan with the objective of creating awareness about Homecare. 18 volunteers travelled 450 kms in auto-rickshaws for 7days across the rugged terrain of Rajasthan spreading the message of Palliative Care. 8 auto rickshaws used for the Rally were later on positioned in the states of Rajasthan, Madhya Pradesh , Haryana and Punjab to embark on Mobile Palliative Homecare Program for the needy cancer patients</p>
                                </div>
                            </div>
                        </div>
                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2004-05</h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color">
                                        Punjab National Bank
                                    </h4>
                                    <p> During the financial year 2004-05, Punjab National Bank supported the GCCI Mobile Palliative Care Program by donating a Van and ICICI Bank gave a Mobile Diagnostic Vehicle.</p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2006</h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color">
                                        Bharti Cellular Limited (Airtel)
                                    </h4>
                                    <p>With the support of Bharti Cellular Limited (Airtel), an exhibition of paintings titled “Art for Global Cancer Concern India” was held at Mumbai Art Gallery, Lokhandwala from 28 Jan-6 th Feb 2006</p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2005</h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color">
                                        Kishangarh in Delhi
                                    </h4>
                                    <p>With the objective of providing early diagnosis and timely detection of Cancer to people living in Kishangarh and surrounding poor localities, a Diagnostic Centre having the modern facilities of Xray Tests, Laboratory Tests and provision of basic medicines along with an Ambulance for Homecare was set up by GCCI at Kishangarh in Delhi in August, 2005. Later, financed by Japan Embassy, a Mammography Machine was also installed at the Centre.</p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2006</h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color margin-top-16px">
                                        Goa Medical College
                                    </h4>
                                    <p>In collaboration with Goa Medical College, Bambolin, Home based Palliative Care Service was introduced in Goa in April,2006</p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2007 </h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color margin-top-16px">
                                        V can help Cancer Care Foundation, Chennai
                                    </h4>
                                    <p>GCCI entered into an agreement with V can help Cancer Care Foundation, Chennai in 2007 to provide homecare service to Cancer patients</p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2008 </h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color margin-top-16px">
                                        Haryana Government
                                    </h4>
                                    <p> In 2008, a Primary Healthcare and Cancer Screening Centre was established in the given by Haryana Government in sector 49, Gurgaon.</p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2009 </h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color margin-top-with-20px">
                                        Monster Play Group (UK)
                                    </h4>
                                    <p> In 2009, Monster Play Group (UK) extended support to GCCI for developing a playground for children at GCCI’s dispensary in Gurgaon and by  donating play- equipment</p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2012 </h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color">
                                        Indian Red Cross Society
                                    </h4>
                                    <p>GCCI under its  Vocational Training Program  partnered in 2012 with Indian Red Cross Society (Punjab  State Branch)  for imparting Computer Training at Patiala to the children belonging to poor cancer afflicted families . In 2017, it entered into an agreement with Bhai Ghannaiya ji Welfare Society at Mohali and Don Bosco at Chandigarh for running Vocational Training Programs.</p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2013 </h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color margin-top-with-20px">
                                        E-Newsletter was introduced
                                    </h4>
                                    <p> For dissemination of information about the work of GCCI to its donors and supporters in a cost effective and fast manner, E-Newsletter was introduced in Oct.2013</p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2013 </h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color">
                                        Help Age India
                                    </h4>
                                    <p>Help Age India sponsored two workshops-one in Delhi in PHD House in 2013 and the other in Chennai in 2015 for doctors, nurses,  and program managers’ similar workshop supported by Oracle was conducted in  Hotel Taj in Chandigarh in 2018.</p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2014 </h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color">
                                        PHD house, new delhi
                                    </h4>
                                    <p>Capacity Building through training seminars and workshops for Doctors, Nurses and Care givers . A five day palliative care training workshop was conducted at PHD house, new delhi from 6th -10th march, 2014. the speakers included experts of national & international repute. the participants included doctors, nurses, counsellors and programme managers from different parts of the country.</p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2015 </h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color">
                                        RITES Ltd
                                    </h4>
                                    <p>In 2015, with the support of RITES Ltd, GCCI embarked on the publication of Research & Development Journal with the objective of increasing the degree of awareness about Cancer and providing a platform to oncologists, social workers, psychologists and policymakers for cross pollination of research information and ideas both in the field of treatment and cancer care management. This was released by the then Hon’ble Union Health Minister, Dr Harsh Vardhan</p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2016 </h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color margin-top-with-20px">
                                        Mobile Palliative Care Unit
                                    </h4>
                                    <p>In 2016, GCCI signed an agreement with Snehanchal , a Nagpur (Maharashtra) based NGO  for running Mobile Palliative Care Unit for poor localities.</p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2017</h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color">
                                        Geneva, Switzerland
                                    </h4>
                                    <p>GCCI sought the membership of VANI (Voluntary Action Network India) and the membership of Union for International Cancer Control (UICC), Geneva, Switzerland in 2017. UCCI through a letter, greatly appreciated observance of World Cancer Day,2020 by GCCI at the national level.</p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2018</h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color">
                                        GCCI was awarded by Kerala Government
                                    </h4>
                                    <p>GCCI was awarded by Kerala Government for its excellent rapid response to Kerala Floods in 2018. Its disaster relief program included provision of Mobile Medicare Service to the disaster victims in camps and distribution of family kits having all essential items</p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2019</h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color">
                                        GCCI’s work during floods in Sitamarhi district in Bihar
                                    </h4>
                                    <p>GCCI’s work during floods in Sitamarhi district in Bihar in 2019 when the medical team went on foot in knee-deep water to affected areas to provide much needed medical relief was highly appreciated by the people, Bihar government, and the media.</p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2022</h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color margin-top-negative-5">
                                        GCCI was honoured by Punjab Government
                                    </h4>
                                    <p>GCCI was honoured by Punjab Government in 2022  for its cancer prevention work in rural areas</p>
                                </div>
                            </div>
                        </div>

                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>Covid 19</h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color margin-top-with-20px">
                                        Covid-19
                                    </h4>
                                    <p> During the Covid period, GCCI teams at various locations ,despite restrictions and obstacles, reached out to people needing cancer care.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tl-block wow fadeInUp" data-wow-delay=".9s">
                            <div class="tl-time blink-1">
                                <h4>2021-2023</h4>
                            </div>
                            <div class="tl-bar">
                                <div class="tl-line"></div>
                            </div>
                            <div class="tl-message">
                                <div class="tl-icon">&nbsp;</div>
                                <div class="tl-main">
                                    <h4 class="id-color">
                                        Post Pandemic
                                    </h4>
                                    <p> The lingering after affects of the Pandemic have been creating ripples till date . With compromised immunity issues after Covid treatment , Cancer seems to have established an even stronger hold on humankind. The Battle against Cancer has suddenly become harder.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section-about" data-bgcolor="#853f40">
        <div class="container">
            <div class="row">
                <div class="row align-items-center">
                    <div class="col-md-8 offset-md-2 text-center wow fadeInUp">
                        <h2 class="heading-with-underline">TOGETHER &nbsp;AGAINST &nbsp;CANCER</h2>

                    </div>
                    <div class="col-md-12 text-middle wow fadeInLeftBig">
                        <p class="lead" style="font-family: 'Pacifico'; font-size: 45px; font-weight: 300;">
                            For the Corporates , we have a clear message...
                        </p>
                        <p class="lead">
                            " We have the expertise and the resources and you have the money ....Let us join hands to make this world a better place ! We are fortunate to be involved in this endevour and those who strengthen our hands are priveledged too. Whoever can help should --- in whichever way they can, we owe it to our social conscience."
                        </p>
                        <p class="lead">
                            From time to time, depending upon the need, GCCI has been formulating and implementing a variety of programs in partnership with corporate sector under Corporate Social Responsibility agenda. Prominent among the corporates with which GCCI has partnered are.....

                        </p>
                    </div>
                    <div id="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <img src="~/Content/web/images/partnerwithborder.jpeg" class="img-responsive" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section-about" data-bgcolor="#853f40">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center wow fadeInUp">
                    <h2 class="heading-with-underline">LIVES &nbsp;WE &nbsp;HAVE &nbsp;TOUCHED </h2>
                    @*<div class="separator"><span><i class="fa fa-square"></i></span></div>
                        <div class="spacer-single"></div>*@
                </div>
                <div id="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <img src="~/Content/web/images/gccilivestouched.jpeg" class="img-responsive effect3D" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="section-about" data-bgcolor="#853f40">
        <div class="container">
            <div class="row">
                <div class="row align-items-center">
                    <div class="col-md-8 offset-md-2 text-center wow fadeInUp">
                        <h2 class="heading-with-underline">TESTIMONIALS</h2>

                    </div>

                    <div class="col-md-12 text-center wow fadeInUpBig">
                        <img src="~/Content/web/images/testimonilasnew.jpeg" class="img-responsive effect3D mx-auto" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section-about" data-bgcolor="#853f40">
        <div class="container">
            <div class="row">
                <div class="row align-items-center">
                    <div class="col-md-8 offset-md-2 text-center wow fadeInUp">
                        <h2 class="heading-with-underline">FROM &nbsp;VISION &nbsp;TO &nbsp;LEGACY@*: <br style="margin-left:10px" /> MARKING GCCI's 25th ANNIVERSARY*@ </h2>

                    </div>
                    <div class="col-md-8 wow fadeInRightBig text-middle" style="padding-left: 37px; margin-top:50px">
                        <p class="lead">
                            Global Cancer Concern India is a vibrant and dynamic organization nurturing a culture that supports flexibility and is proactive to change in  demanding scenarios. Right from its genesis, it has been  shifting and changing its course of action and formulating and implementing programs which make maximum  impact in the field of cancer care at the particular point of time. It has an well-established culture of management ethos integrated with sustainable practices and coupled with organizational agility .

                        </p>
                    </div>
                    <div class="col-md-4 text-middle wow fadeInLeftBig custom-col">
                        <div class="de_count">
                            <h2 class="timer" data-to="25" data-speed="2000">0</h2>
                            <p class="text-center years-of-success">Years of success</p>
                        </div>
                    </div>

                    <div class="col-md-12 wow fadeInLeftBig text-middle text-justify">
                        <p class="lead text-justify">

                            Having completed 25 YEARS this year ....we are re-evaluating our reason for our existence in today’s fast evolving social scenario. And we have zeroed in on some programmes which would help bolster the government’s efforts in healthcare specifically in cancer care management.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>









    <section id="section-about" data-bgcolor="#853f40">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center wow fadeInUp">
                    <h2 class="heading-with-underline">BUILDING &nbsp;A &nbsp;LEGACY &nbsp;OF &nbsp;CARE. </h2>

                </div>
                <div class="col-md-12 wow fadeInLeftBig text-middle" style="padding-right: 37px; margin-top:50px">
                    <p class="lead">
                        Global Cancer Concern India is a vibrant and dynamic organization nurturing a culture that supports flexibility and is proactive to change in  demanding scenarios. Right from its genesis, it has been  shifting and changing its course of action and formulating and implementing programes which make maximum  impact in the field of cancer care at the particular point of time. It has an well established  culture of management ethos integrated with sustainable practices and coupled with organizational agility
                        Having completed 25 YEARS this year ....we have again re-aligned with todays fast evolving social scenario. And our focus is on programmes which will bolster the goverments efforts in healthcare specifically in cancer care management.

                    </p>
                </div>
                @*<div class="col-md-4 text-middle wow fadeInUpBig">
                        <img src="~/Content/web/images/Legacy.jpeg" class="img-responsive effect3D" alt="">
                    </div>*@
            </div>
        </div>
    </section>





    <section id="section-about" data-bgcolor="#853f40">
        <div class="container">
            <div class="row">
                <div class="row align-items-center">
                    @*<div class="col-md-7 offset-md-3 text-center wow fadeInUp">
                            <h2>Hospices </h2>
                            <div class="separator"><span><i class="fa fa-square"></i></span></div>
                            <div class="spacer-single"></div>
                        </div>*@
                    <div class="col-md-4 text-middle wow fadeInLeftBig">
                        <img src="~/Content/web/images/hospices and day care centers.jpg" class="img-responsive effect3D" alt="">
                    </div>
                    <div class="col-md-8 wow fadeInRightBig text-middle" style="padding-left: 37px;">
                        <p class="lead">
                            Also on the agenda is addressing the need for Hospices and Day care centres for the patients as well as the terminally ill. This would entail giving grants and financial assistance to existing units to upgrade and sustain their infrastructure to accommodate the needs of the new social structure
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="section-about" data-bgcolor="#853f40">
        <div class="container">
            <div class="row">
                <div class="row align-items-center">
                    <div class="col-md-6 wow fadeInLeftBig text-middle" style="padding-right: 37px; margin-top: 40px;">
                        @*<h2>Roles of Hospices ......... </h2>*@
                        @*<p class="lead">
                                Palliative care has four aspects - clinical or medication, pain management, emotional, social, and spiritual.
                            </p>*@
                        <p class="lead">
                            Palliative care has four aspects - clinical or medication, pain management, emotional, social, and spiritual.
                            End-stage cancer patients need palliative care and not expensive medication. A vast majority are often prescribed treatment which does not improve their chances of survival; instead, it puts them through extreme pain and anguish and leaves their caregivers drained, traumatized, and in great financial distress.


                        </p>

                    </div>
                    <div class="col-md-6 text-middle wow fadeInRightBig" style="margin-top: -20px;">
                        <img src="~/Content/web/images/roleofhospecies.jpeg" class="img-responsive effect3D" alt="">
                    </div>
                    <div class="col-md-12 wow fadeInLeftBig text-middle text-justify">
                        <p class="lead text-justify">
                            A concept of a hospice is often not fully understood in India. The family is often reluctant to admit a terminally ill patient to a hospice as they feel they will be deserting their loved ones in their hour of need.

                            A hospice is not a place to die but rather a place to live out the rest of your life, without pain and other distressing symptoms, and to bring peace to your mind, body, and spirit. A hospital ICU adds days to life, as opposed to a hospice, which aims to add life to days.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="section-about" data-bgcolor="#853f40">
        <div class="container">
            <div class="row">
                <div class="row align-items-center">
                    <div class="col-md-5 text-middle wow fadeInLeftBig margin-top-minus-85px">
                        @*<h2>Day care centers...</h2>*@
                        <img src="~/Content/web/images/daycarecenter.jpeg" class="img-responsive effect3D image-height-520px" alt="">
                    </div>
                    <div class="col-md-7 wow fadeInRightBig text-middle padding-left-37px-margin-top-minus-79px ">
                        <p class="lead">
                            The most affected person, who is practically invisible to all, is the caregiver. Being constantly on call night and day, they are a shattered soul who works against time with limited resources.


                            It is necessary to realize that no one can pour from an empty cup, and necessary care, recuperation, and counseling are required for the caregiver.  In order to facilitate that, day care facilities are necessary.The patient is taken care of while the caregiver is given respite.
                        </p>
                        @*<p class="lead">
                                In order to facilitate that, day care facilities are necessary. The patient is taken care of while the caregiver is given respite. This is especially true for those undergoing active treatment and also those who are living out their end days at home.
                            </p>*@
                    </div>
                    <div class="col-md-12 wow fadeInLeftBig text-middle text-justify">
                        <p class="lead text-justify">

                            This is especially true for those undergoing active treatment and also those who are living out their end days at home.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section-about" data-bgcolor="#853f40">
        <div class="container">
            <div class="row">
                @*<div class="col-md-7 offset-md-3 text-center wow fadeInUp">
                        <h2>Financial Assistance </h2>
                        <div class="separator"><span><i class="fa fa-square"></i></span></div>
                        <div class="spacer-single"></div>
                    </div>*@
                <div class="col-md-8 wow fadeInLeftBig text-middle" style="padding-right: 37px;margin-top: -15px">
                    <p class="lead">
                        Though GCCI’s  program -spectrum  has been encompassing a wide gamut of cancer care services the ,present focus is on providing financial assistance to those who are afflicted with both Cancer and poverty   and are in a abysmally  miserable condition. During the last 3 years, their lives have been impacted the most by COVID 19 as they have been relegated into insignificance by the healthcare system because of the more immediate need of the covid patient

                    </p>
                </div>

                <div class="col-md-4 text-middle wow fadeInUpBig" style="margin-top:23px">
                    <img src="~/Content/web/images/Financial.jpeg" class="img-responsive effect3D" alt="">
                </div>
                <div class="col-md-12 wow fadeInLeftBig text-middle text-justify">
                    <p class="lead text-justify">

                        The ambit of Financial Assistance will include Treatment and Educational and Vocational Rehabilitation. We will also be giving financial disbursements on humanatarian grounds to Terminally ill Patients.


                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="section-about" data-bgcolor="#853f40">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center wow fadeInUp" data-bgcolor="#853f40">
                    <h2 class="heading-with-underline">
                        FROM &nbsp;THIS &nbsp;DAY &nbsp;FORWARD - <br />
                        <span>OUR &nbsp;WISHLIST</span>
                    </h2>
                </div>
            </div>
        </div>
    </section>


    <section id="section-about" data-bgcolor="#853f40" @*#1e1f22*@ style="padding-top:10px">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4 text-middle wow fadeInLeftBig">
                    <img src="~/Content/web/images/palliative.jpeg" class="img-responsive effect3D" alt="">
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6 wow fadeInRightBig">
                    <p class="lead step-1">Pain Management</p>
                    <p class="lead step-2">Psychological Counselling</p>
                    <p class="lead step-3">Coping with Bereavement</p>
                </div>

            </div>
        </div>
    </section>



    <section id="section-about" data-bgcolor="#853f40">
        <div class="container">
            <div class="row">
                <div class="row align-items-center">
                    <div class="col-md-8 wow fadeInLeftBig text-middle">
                        <p class="lead step step-1">Support Group for Patients Diagnosed with Cancer</p>
                        <p class="lead step step-2">Rehabilitation Therapy Group for Cancer Survivors</p>
                        <p class="lead step step-3">Palliative Support Group for Terminally Ill.</p>
                    </div>
                    <div class="col-md-4 text-middle wow fadeInRightBig">
                        <img src="~/Content/web/images/psychological therapy.jpg" class="img-responsive effect3D" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="section-about" data-bgcolor="#853f40">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center wow fadeInUp special-section">
                    <h2 class="quote">"While it is in the hands of God to cure, it is certainly in the hands of man to care."</h2>
                    <h4 class="author-name"> - Gen Raghu Pannu</h4>
                </div>
            </div>
        </div>
    </section>



</div>
<div id="purchase-now" style="background-size: cover;">
    <a href="/donation"><img src="~/Content/web/images/donation.png" style="width: 49px;margin: -13px 0px 0px -10px;" /></a>
    <div class="pn-hover" style="background-size: cover;">Donate Now</div>
</div>
@section Scripts
    {

    <script>
        $(document).ready(function () {
            var video = $('#video');
            var aboutSection = $('#section-about');


            var videoDuration = 60000;


            setTimeout(function () {
                $('html, body').animate({
                    scrollTop: aboutSection.offset().top
                }, 1000);
            }, videoDuration);
        });
    </script>



}