
@{
    ViewBag.Title = "Mission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- ============================================================== -->
<!-- subheader -->
<section id="subheader" data-speed="8" data-type="background" style="background-image: url(../../Content/web/assets/images/background/subheader-3.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Our Mission & Vision</h1>
                <ul class="crumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="sep">/</li>
                    <li>Our Mission & Vision</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<br />
<!-- subheader close -->
<!-- ============================================================== -->
<!-- End   Breatcome Area -->
<!-- ============================================================== -->

<!-- content begin -->
<div id="content" class="no-top no-bottom mt10 sm-mt0">
    
    <!-- section begin -->
    <section aria-label="section">
        <div class="container">
            <div class="row">

                <div class="spacer-single"></div>

                <div class="col-md-12">
                    @*<h3>M</h3>*@
                    <div class="spacer30"></div>

                    <div class="row">
                        <div class="col-3">
                            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Mission</button>
                                <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Vision</button>
                                <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Activity</button>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"><p style="text-align:justify">
    Our focus is on the cancer afflicted people from the disadvantaged sections of society. The developing countries have 5% of the world’s resources for cancer treatment, prevention, care & research – while these countries are home to two-thirds of the world’s cancer patients..India has been known to account for a large number of cancer cases. Of even greater concern is the fact that 70% of the patients are only diagnosed at the terminal stage. awareness of cancer is abysmally low and most people are unaware that 50% of the cancers are curable if detected early..
    <br /> <br />
    GCCI embarked on a mission to combat cancer at all stages through a four pronged agenda.;
    <br />
    Firstly, seeking prevention by disbursing  information of cancer agents and preventive methods
    Secondly , creating awareness through various media to dispel public ignorance of cancer symptoms to facilitate timely detection
    <br />
    Thirdly, providing a support system to terminally ill patients to take care of their mental, physical and emotional trauma.
    <br />
    Finally providing an emotional and sometimes a financial safety net for the families of the deceased.
    it was basically about creating a circle between the patient, the doctor and the family members.

</p></div>
                                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"><p>”AIMS AND OBJECTIVES OF THE TRUST COVER THE ENTIRE SPECTRUM OF CANCER CARE FROM PREVENTIVE TO PALLIATIVE ,DIAGNOSTIC,TREATMENT ,REHABLITATION, AND SUPPORTIVE“ <br /> <br />To combat cancer at all stages by seeking prevention, early detection and recognizing palliative care management so that poor cancer sufferers can live quality lives with dignity and self-esteem as long as possible. This is achieved through a specialized and well-researched form of pain management following a holistic approach.</p></div>
                                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"><p>GCCI’s  program -spectrum has been embracing  a wide gamut of cancer care services like  Cancer prevention through Awareness and Screening, providing  Palliative Care, Training of Doctors and Nurses in Cancer Care, giving Financial Assistance for Treatment, proliferation of Cancer information through Research & Development publication, vocational Training and school scholarships to the members of Cancer afflicted families, giving training to care givers etc.</p></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- section close -->
</div>
