
@{
    ViewBag.Title = "OurGoals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breatcome_area d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breatcome_title">
                    <div class="breatcome_title_inner pb-2">
                        <h2>Our Goals</h2>
                    </div>
                    <div class="breatcome_content">
                        <ul>
                            <li><a href="/">Home</a> <i class="fa fa-angle-right"></i> <a href="#"> Goals</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="process_area pt-70 pb-70 bg_color2">
    <div class="container">
        <div class="row">
            <!-- Start Section Tile -->
            <div class="col-lg-12">
                <div class="section_title text_center mb-90 mt-3">

                    <div class="section_sub_title uppercase mb-3">
                        <h6>Goals</h6>
                    </div>
                    <div class="section_main_title">
                        <h1>Our<span>Goals</span></h1>
                    </div>
                    <div class="em_bar">
                        <div class="em_bar_bg"></div>
                    </div>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single_process">
                    <div class="single_process_thumb">
                        <img src="~/content/web/assets/images/new/wt1.jpg" alt="" />
                    </div>
                    <div class="single_process_number">
                        <div class="single_process_number_inner">
                            <span>1</span>
                        </div>
                    </div>
                    <div class="single_process_content">
                        @*<h2>Select A Project</h2>*@
                        <p>Deliver Innovation Solution</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single_process">
                    <div class="single_process_thumb">
                        <img src="~/content/web/assets/images/new/wt2.jpg" alt="" />
                    </div>
                    <div class="single_process_number">
                        <div class="single_process_number_inner">
                            <span>2</span>
                        </div>
                    </div>
                    <div class="single_process_content">
                        @*<h2>Online Marketing</h2>*@
                        <p>Provide Exceptional Customer Service</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single_process">
                    <div class="single_process_thumb">
                        <img src="~/content/web/assets/images/new/wt3.jpg" alt="" />
                    </div>
                    <div class="single_process_number">
                        <div class="single_process_number_inner">
                            <span>3</span>
                        </div>
                    </div>
                    <div class="single_process_content">
                        @*<h2>Solution Mean</h2>*@
                        <p>Nurture a collaborative and inclusive culture</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single_process">
                    <div class="single_process_thumb">
                        <img src="~/content/web/assets/images/new/wt4.jpg" alt="" />
                    </div>
                    <div class="single_process_number">
                        <div class="single_process_number_inner">
                            <span>4</span>
                        </div>
                    </div>
                    <div class="single_process_content">
                        @*<h2>Creative Project</h2>*@
                        <p>Ensure Security Protocols and privacy.</p>
                    </div>
                </div>
            </div>
            <!--<div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single_process">
                    <div class="single_process_thumb">
                        <img src="~/content/web/assets/images/new/wt4.jpg" alt="" />
                    </div>
                    <div class="single_process_number">
                        <div class="single_process_number_inner">
                            <span>4</span>
                        </div>
                    </div>
                    <div class="single_process_content">-->
                        @*<h2>Creative Project</h2>*@
                        <!--<p>Foster continuous improvement and learning</p>
                    </div>
                </div>
            </div>-->

        </div>
    </div>
</div>

<div class="service_area pt-85 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text_center mb-55">
                    <div class="section_sub_title uppercase mb-3">
                        <h6>Values</h6>
                    </div>
                    <div class="section_main_title">
                        <h1>Our Values</h1>
                    </div>
                    <div class="em_bar">
                        <div class="em_bar_bg"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_two mb-4">
                    <div class="service_style_two_number mr-60">
                        <h5>C</h5>
                    </div>
                    <div class="service_style_two_content">
                        <div class="service_style_two_title pb-3">
                            <h4>Courage and Consistency</h4>
                        </div>
                        @*<div class="service_style_two_text">
                            <p>Marketing bringing new amazing products and services to market discovering products.</p>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_two mb-4">
                    <div class="service_style_two_number mr-60">
                        <h5>U</h5>
                    </div>
                    <div class="service_style_two_content">
                        <div class="service_style_two_title pb-3">
                            <h4>Understanding and Uplift Each other</h4>
                        </div>
                        @*<div class="service_style_two_text">
                            <p>Development bringing amazing products and services to market products.</p>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_two mb-4">
                    <div class="service_style_two_number mr-60">
                        <h5>B</h5>
                    </div>
                    <div class="service_style_two_content">
                        <div class="service_style_two_title pb-3">
                            <h4>Best Business Management</h4>
                        </div>
                        @*<div class="service_style_two_text">
                            <p>Whether bringing new amazing products and services to market discovering products.</p>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_two mb-4">
                    <div class="service_style_two_number mr-60">
                        <h5>E</h5>
                    </div>
                    <div class="service_style_two_content">
                        <div class="service_style_two_title pb-3">
                            <h4>Exuberance and Excellence</h4>
                        </div>
                        @*<div class="service_style_two_text">
                            <p>100% Support bringing new amazing products and services discovering products.</p>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_two mb-4">
                    <div class="service_style_two_number mr-60">
                        <h5>C</h5>
                    </div>
                    <div class="service_style_two_content">
                        <div class="service_style_two_title pb-3">
                            <h4>Creative Problem Solver</h4>
                        </div>
                        @*<div class="service_style_two_text">
                            <p>Working fast bringing new amazing products and services to discovering products.</p>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_two mb-4">
                    <div class="service_style_two_number mr-60">
                        <h5>L</h5>
                    </div>
                    <div class="service_style_two_content">
                        <div class="service_style_two_title pb-3">
                            <h4>Leadership and Teamwork</h4>
                        </div>
                        @*<div class="service_style_two_text">
                            <p>Money bringing new amazing products and services to market discovering products.</p>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_two mb-4">
                    <div class="service_style_two_number mr-60">
                        <h5>I</h5>
                    </div>
                    <div class="service_style_two_content">
                        <div class="service_style_two_title pb-3">
                            <h4>Innovative and Integrity</h4>
                        </div>
                        @*<div class="service_style_two_text">
                            <p>100% Support bringing new amazing products and services discovering products.</p>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_two mb-4">
                    <div class="service_style_two_number mr-60">
                        <h5>C</h5>
                    </div>
                    <div class="service_style_two_content">
                        <div class="service_style_two_title pb-3">
                            <h4>Customer Value</h4>
                        </div>
                        @*<div class="service_style_two_text">
                            <p>Working fast bringing new amazing products and services to discovering products.</p>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service_style_two mb-4">
                    <div class="service_style_two_number mr-60">
                        <h5>K</h5>
                    </div>
                    <div class="service_style_two_content">
                        <div class="service_style_two_title pb-3">
                            <h4>Knowledgeable</h4>
                        </div>
                        @*<div class="service_style_two_text">
                            <p>Money bringing new amazing products and services to market discovering products.</p>
                        </div>*@
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>