
@{
    ViewBag.Title = "patron";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- subheader -->
<section id="subheader" data-speed="8" data-type="background" style="background-image: url(../../Content/web/assets/images/background/subheader-3.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Our Patron</h1>
                <ul class="crumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="sep">/</li>
                    <li>Our patron</li>
                </ul>
            </div>
        </div>
    </div>
</section><br />
<!-- subheader close -->
<!-- content begin -->
<div id="content" class="no-top no-bottom">
    <section id="section-about-us-2" class="side-bg no-padding">
        <div class="image-container col-md-5 pull-left" data-delay="0" style="background-image: url(../../Content/web/assets/images/background/subheader-3.jpg);"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-6 " data-animation="fadeInRight" data-delay="200">
                    <div class="inner-padding">
                        <h5>Our Patnor</h5>
                        <h2>MRS INDERJIT PANNU</h2>

                        <p class="intro">
                            After his untimely demise on october 9 ,2003, GCCI invited Mrs Inderjit Pannu to step into the shoes of the late General. Having been actively involved with the Army Wives welfare Association for over 25 years and been of the Board of Trustees  , she was the Board s unanamous choice for the post of President and Managing Trustee.. She has been at the helm of GCCI since 2003 and the organisation has surged ahead under her able guidance.and her perseverance and tenacity ensured that the NGO remained sustainable.. Her inspirational skillls and farsightedness achieved milestones for GCCI.
                        </p>

                        Her landmark achievement was obtaining 100%Tax exemption for Donors on all donations to GCCI.In the last 20 years Mrs Inderjit Pannu has worked relentlessly to carry forth the vision and GCCI has gone from strenghth to strength .

                        After almost 20 years at the helm of the organisation , Mrs Inderjit Pannu handed over the baton to Mrs Mona Singh and retired from active management to step into the role of a
                        Godparent .Today She is patron of Global Cancer Concern India.

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>

</div>