
@{
    ViewBag.Title = "Publications";
}

<section id="section-about" data-bgcolor="#853f40">
    <div class="container">
        <div class="row">
            <div class="row align-items-center">
                <div class="col-md-7 offset-md-3 text-center wow fadeInUp">
                    <h2>Our Publications </h2>
                    <div class="separator"><span><i class="fa fa-square"></i></span></div>
                    <div class="spacer-single"></div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-12 container-4 wow fadeInUp">
                    <div class="bookshelf">
                        <div class="col-lg-3">
                            <div class="book">
                                <img src="~/Content/web/images/book.jpg" alt="Book 1" class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="book">
                                <img src="~/Content/web/images/book.jpg" alt="Book 2" class="img-responsive" />
                            </div>
                        </div>
                        <!-- Add more book elements as needed -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>