
@{
    ViewBag.Title = "whatwedo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- subheader -->
<section id="subheader" data-speed="8" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>What we Do</h1>
                <ul class="crumb">
                    <li><a href="/">Home</a></li>
                    <li class="sep">/</li>
                    <li>What we Do</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->
<!-- content begin -->
<div id="content" class="no-top no-bottom">

    <!-- section service begin -->
    <section id="section-service-1" class="side-bg no-padding">
        <div class="image-container col-lg-5 pull-left" data-delay="0">
            <div class="background-image" ></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="inner-padding">
                    <div class="col-lg-6 offset-lg-6 col-md-12 wow fadeInRight" data-wow-delay=".5s">
                        <h3 class="id-color">Awareness Programme for preventive measures</h3>
                      <p style="text-align:justify">  Education is without doubt one of the strongest weapons to vanquish cancer and development of cancer free society. Cancer is the byproduct of two sources: genetics or lifestyle choices . Preventive healthcare to the needy and marginalized segment of society is given so as to prevent loss of life as also considerable loss of the potentially productive years of life.
                        <br /><br />For creating awareness various materials like posters, leaflets, mailers, brochures etc. are developed and distributed . Various Seminars / Lectures / Workshops / Camps were organized at Urban Slums, Schools, Corporates and RWAs with the aim to spread maximum awareness on the causes of cancer and how to prevent it by opting for a moderate and healthy lifestyle and regular checkups . Innovative methodologies such as role play, case studies and visual presentations are used to facilitate ease of learning.
                      </p>  <div class="spacer-single"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section service close -->
    <!-- section service begin -->
    <section id="section-service-2" class="side-bg no-padding" data-bgcolor="#212225">
        <div class="image-container col-lg-5 offset-lg-7 col-md-12 pull-right" data-delay="0">
            <div class="background-image"></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="inner-padding">
                    <div class="col-lg-6 col-md-12 wow fadeInLeft" data-wow-delay=".5s">
                        <h3 class="id-color">Cancer Screening Camps for early detection.</h3>
                        <p style="text-align:justify">Under the preventive programme, GCCI has been a leader in prevention of cancer by acting as a catalyst for frequent  screenings to aid early detection so as to facilitate a positive treatment through cancer screening camps . Each team has a panel of specialized doctors & trained nurses who carry out patient friendly, non – invasive screening mechanism that would be effective enough to discover cancer or early symptoms leading to diagnosis of cancer. The aim of these camps is to identify the cases at an early stage . Free pathological lab facilities are extended, medicines are distributed free of cost among the people as per the need and People who require X-rays, Mammograms, Ultrasound etc are taken to diagnostic centre for screening with nominal cost to the patients. Beneficiaries are counseled about results of screening and diagnosis and educated  about future line of  treatment </p>
                        <div class="spacer-single"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section service close -->
    <!-- section service begin -->
    <section id="section-service-3" class="side-bg no-padding">
        <div class="image-container col-lg-5 pull-left" data-delay="0">
            <div class="background-image"></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="inner-padding">
                    <div class="col-lg-6 offset-lg-6 col-md-12 wow fadeInRight" data-wow-delay=".5s">
                        <h3 class="id-color">Financial Assistance Program for diagnosis and treatment.</h3>
                        <p style="text-align:justify">Cancer thrusts heavy expenses on both the patient and their family. Most of the time families do not have medical insurances. The bread earner and other family members get completely exhausted – physically, mentally and financially while going through the long and painful treatment procedure. The aim of GCCI’s Financial Assistance Programme is to lessen this burden.</p>
                        <div class="spacer-single"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section service close -->
    <!-- section service begin -->
    <section id="section-service-4" class="side-bg no-padding" data-bgcolor="#212225">
        <div class="image-container col-lg-5 offset-lg-7 col-md-12 pull-right" data-delay="0">
            <div class="background-image"></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="inner-padding">
                    <div class="col-lg-6 col-md-12 wow fadeInLeft" data-wow-delay=".5s">
                        <h3 class="id-color">Palliative Care</h3>
                        <p style="text-align:justify">
                            Child Education Sponsorship programme helps needy and deprived children from Cancer stricken families to continue their education. This monthly scholarship enables a child to complete his/her education without any hindrance upto XII std..
                        </p><br />
                            <p style="text-align:justify">Through vocational rehabilitation programme the cancer patients and their dependents are integrated back into the mainstream of life by making them competent, secured, and self-sufficient.</p>
                        <div class="spacer-single"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section service close -->
    
    <!-- section service begin -->
    <section id="section-service-5" class="side-bg no-padding">
        <div class="image-container col-lg-5 pull-left" data-delay="0">
            <div class="background-image"></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="inner-padding">
                    <div class="col-lg-6 offset-lg-6 col-md-12 wow fadeInRight" data-wow-delay=".5s">
                        <h3 class="id-color">Rehablitation through Vocational Training & Educational Sponsorship. </h3>
                        <p style="text-align:justify">Cancer thrusts heavy expenses on both the patient and their family. Most of the time families do not have medical insurances. The bread earner and other family members get completely exhausted – physically, mentally and financially while going through the long and painful treatment procedure. The aim of GCCI’s Financial Assistance Programme is to lessen this burden.</p>
                        <div class="spacer-single"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section service close -->
    <!-- section service begin -->
    <section id="section-service-6" class="side-bg no-padding" data-bgcolor="#212225">
        <div class="image-container col-lg-5 offset-lg-7 col-md-12 pull-right" data-delay="0">
            <div class="background-image"></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="inner-padding">
                    <div class="col-lg-6 col-md-12 wow fadeInLeft" data-wow-delay=".5s">
                        <h3 class="id-color">Capacity Building  </h3>
                        <p style="text-align:justify">
                            Capacity Building  through training seminars and workshops for Doctors, Nurses and Care givers . A five days palliative care training workshop was conducted at PHD house, new delhi from 6th -10th march, 2014. the speakers included experts of national & international repute. the participants included doctors, nurses, counselors and programme managers from different parts of the country.
                        </p><br />
                        <div class="spacer-single"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section service close -->

</div>
