
@{
    ViewBag.Title = "Whoweare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breatcome_area d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breatcome_title">
                    <div class="breatcome_title_inner pb-2">
                        <h2>Who we are/Tagline/ Logo</h2>
                    </div>
                    <div class="breatcome_content">
                        <ul>
                            <li><a href="/">Home</a> <i class="fa fa-angle-right"></i> <a href="#"> Who we are/Tagline/ Logo</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team_details_skill_area bg_color2 pt-80 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ">
                <div class="section_title text_left mb-5">
                    <div class="section_sub_title uppercase mb-3">
                        <h6>tagline</h6>
                    </div>
                    <div class="section_main_title">
                        <h1>Our tagline</h1>
                    </div>
                    <div class="em_bar">
                        <div class="em_bar_bg">
                        </div>
                    </div>
                    <div class="section_content_text pt-4">
                        <h3>"Experience innovation at its best,"</h3><br />
                        <p style="text-align:justify">
                            reflects our unwavering
                            commitment to providing the most advanced and cutting-edge IT solutions to our
                            clients. We pride ourselves on our ability to stay ahead of the curve and keep up
                            with the latest trends in the industry. We believe in fostering a culture of creativity,
                            collaboration, and customer-centricity. Our team of experienced professionals are

                            passionate about finding new ways to solve complex challenges and drive meaningful
                            change in the world.
                        </p>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-6">
                <div class="section_title text_left mb-5">
                    <div class="section_sub_title uppercase mb-3">
                        <h6>logo</h6>
                    </div>
                    <div class="section_main_title">
                        <h1>Our logo</h1>
                    </div>
                    <div class="em_bar">
                        <div class="em_bar_bg"></div>
                    </div>
                    <div class="section_content_text pt-4">
                        <p style="text-align:justify">
                            Our logo was designed with a purpose to reflect our commitment to the
                            betterment of society. The colour orange represents education, as we believe that
                            education is the key to unlocking a better future. The colour blue represents charity,
                            as we strive to give back to the community and support those in need. Finally, the
                            colour green represents medical, as we are dedicated to promoting health and
                            wellness through our digital solutions. By incorporating these colours into our logo,
                            we aim to showcase our values and our mission to make a positive impact in the
                            world.
                        </p>
                    </div>
                </div>
                <div class="team_skill_thumb">
                    <img src="assets/images/certificate.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>